<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <title>Document</title>
</head>
<body>
    <footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/Person">
        <div class="footer-left" itemscope itemtype="http://schema.org/Person" class="h-card">
            <img src="/images/sc.png" alt="Profile Picture" itemprop="image" class="u-logo logo" />
            <h3 itemprop="name" class="p-name">Jecrc Renaissance</h3>
            <p class="p-job-title" itemprop="jobTitle">Presented By Student Council</p>
            <nav aria-label="Footer Navigation">
                <p class="footer-links">
                    <a href="/" itemprop="url" class="link-1">Home</a>
                    <a href="/events" itemprop="url">events</a>

                </p>
            </nav>
            <p class="footer-name">© 2025 Jecrc Renaissance</p>
        </div>
    
        <div class="footer-center">

            <div>
                <h2>Contact Us</h2>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span></span>
                <p itemprop="telephone" class="p-tel">Technical Head: +919782971327</p>



            </div>
            <div>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p><a href="mailto:myname@mail.com" itemprop="email" class="u-email">renaissance@jecrc.ac.in</a></p>
            </div>
        </div>
    
        <div class="footer-right">
            <p class="footer-about">
                <span>About Event</span>
                It's a cultural event of Jecrc, where people from other colleges can also participate, And HAVE FUN!!
            </p>
            <div class="footer-socials">
                <a href="https://www.instagram.com/jecrcrenaissance/" rel="me" aria-label="LinkedIn" itemprop="sameAs" class="u-url"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/jecrcrenaissance/" rel="me" aria-label="Twitter" itemprop="sameAs" class="u-url"><i class="fa-brands fa-x-twitter"></i></a>
               <a href="https://www.instagram.com/jecrcrenaissance/" rel="me" aria-label="Instagram" itemprop="sameAs" class="u-url"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </footer>
