<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Document</title> 
   
</head>
<body>

    <%- include("partials/header.ejs")  %>

    <section class="landing-section d-flex">
        <img class="desktop-only monument-one" src="/images/monument.webp" alt="">
        <img class="desktop-only monument-two" src="/images/monument.webp" alt="">
        <img class="desktop-only layer-2 balloons" src="/images/ballon.webp" alt="">
        <img class="desktop-only layer-1" src="/images/poster.webp" alt="">
        <img class="mobile-only monument-one" src="/images/monument-mobile.webp" alt="">
        <img class="mobile-only monument-two" src="/images/monument-mobile.webp" alt="">
        <img class="mobile-only layer-2 balloons" src="/images/mobileb.webp" alt="">
        <img class="mobile-only layer-1" src="/images/monument-mobileh.webp" alt="">

   
    </section>
    <%- include("partials/footer.ejs")  %>

</body>
</html>